body{
    background-color: black;
}

.navi{
    background-color: black;
}

.logo{
    width: auto;
    height: 100px;
}

.navi .container-navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.title{
    display: flex;
    align-items: center;
    color: white;
    gap: 20px;
    font-size: 25px;
}

.menu{
    display: flex;
}

li{
    list-style: none;
    margin-left: 30px;
    margin-right: 5px;
}

li > a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s all ease;
}

li:hover{
    color: rgb(151, 151, 192);
}

.homeimg{
    width: 1408px;
    height: auto;
}



