@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body{
    background-image: url(backgroundretro.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container{
    max-width: 90vw;
    margin: 1rem auto;
    text-align: center;
}

.card{
    display: inline-block;
    width: 30%;
    border-radius: 1rem;
    text-align: center;
    margin: 1rem 1rem;
    vertical-align: top;
    border-width: 10px;
    height: auto;
    box-shadow: 10px 10px 10px black;
}

.image{
    background: url(bgpokeball.png);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 300px;
    width: 415px;
    padding-top: 20px;
    padding-bottom: 50px;
    
}


img{
    filter:drop-shadow(10px 10px 5px #222);
    object-fit: cover;
    object-position: bottom;
    width: 70%;
    margin: 1rem 0;
}

.bgimage{
    max-width: 150px;
    height: 150px;
    background-image: url(bg.jpg);
}

h1{
    padding: 0.2rem 0.8rem;
    text-shadow: 4px 4px 5px black;
    color: white;
}

.type, .type1, .type2{
    display: inline-block;
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0.5rem;
    color: white;
    text-shadow: 1px 1px 5px black;
}

.description{
    color: white;
    text-align: justify;
    margin: 0.5rem 0.2rem;
    line-height: 1.3;
    padding: 0 1.2rem;
    height: 4rem;
}

.buttons{
    margin-top: 0.8rem;
    text-align: center;
    padding: 0 0.8rem;
    display: inline-block;
    
}

button{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    margin: 0.2rem 0.5rem;
    color: white;
    transition: 0.5s ease;

}

.addbutton{
    background-color: green;
    font-family: Pixelify Sans;
}

.addbutton:hover{
    background-color: rgb(2, 86, 2);
}

.relbutton{
    background-color: crimson;
    font-family: Pixelify Sans;
}

.relbutton:hover{
    background-color: rgb(109, 0, 0);
}

.card:hover{
    background-color: rgba(255, 255, 255, 0.229);
}

.details{
    padding: 0.8rem 0;
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    height: 300px;
    font-family: Pixelify Sans;
}

.violet{
    background-color: darkslateblue;
}

.darkbrown{
    background-color: #443c3c;
}

.darkblue{
    background-color: #4179c2;
}

.darkred{
    background-color: #ba0101;
}
.rocky{
    background-color: #57544c;
}

.groundy{
    background-color: #be9b40;
}

.lightblue{
    background-color: #47ada8;
}
.ghost{
    background-color: #4d2c4d;
}

.poison{
    background-color: #ac51cc;
}

.dark{
    background-color:  	#313131;
}

.fire{
    background-color:  	#ff0000;
}

.water{
    background-color: #276cc7;
}

.rock{
    background-color: #79766e;
}

.ground{
    background-color: #E2BF65;
}

.flying{
    background-color: #A98FF3;
}

.ice{
    background-color: #96D9D6;
}

