@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap');

body{
    margin-top: 50px;
    text-align: center;
    background-image: url("analogbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "DotGothic16";
    color: #CBCBCB;
}

.heading{
    font-size: 2.5rem;
    color: #CBCBCB;
}

.subheading{
    font-size: 1.2rem;
}

.image{
    margin-top: 50px;
    width: 100px;
}
.red{
    color: #BD0E0E;
    font-weight: bold;
}

.red1{
    color: #BD0E0E;
    font-weight: bold;
}

.eyes{
    color: #BD0E0E;
    font-weight: bold;
}